$color-black: #000;
$color-cyan-blueish-gray: #abb8c3;
$color-white: #fff;
$color-pale-pink: #f78da7;
$color-vivid-red: #cf2e2e;
$color-vivid-orange: #ff6900;
$color-vivid-amber: #fcb900;
$color-light-green: #7bdcb5;
$color-vivid-green: #00d084;
$color-pale-blue: #8ed1fc;
$color-vivid-cyan-blue: #0693e3;
$color-vivid-purple: #9b51e0;
$color-blue: #210b39;
$color-sky-blue: #00a2d3;
$sky-blue-text: #3c327b;
$sky-purple: #792773;
